 .container1 {
     display: flex;
     gap: 10px;
     border: 2px solid purple;


 }

 .item {
     border: 2px solid rgb(0, 0, 0);
     height: 92px;
     width: 92px;
     background-color: black;
     color: white;
 }

 .flex-container {
     display: flex;
     flex-direction: row;
     background-color: lightgray;
 }

 .flex-container div {
     background: teal;
     color: white;
     padding: 20px;
     margin: 5px;
 }

 .flex-container2 {
     display: flex;
     flex-wrap: wrap;
     background-color: yellowgreen;
 }

 .flex-container2 div {
     background: orange;
     color: white;
     padding: 20px;
     margin: 5px;
     width: 200px;
 }

 .flex-container3 {
     display: flex;
     justify-content: space-between;
     background: lightblue;
 }

 .flex-container3 div {
     padding: 20px;
     background: purple;
     color: white;
 }

 .flex-container4 {
     display: flex;
     align-items: center;
     height: 200px;
     background-color: lightcoral;

 }

 .flex-container4 div {
     background: navy;
     color: white;
     padding: 20px;
     margin: 10px;
 }

 .flex-container5 {
     display: flex;
     flex-wrap: wrap;
     align-content: center;
     height: 300px;
     background-color: lightseagreen;
 }

 .flex-container5 div {
     background: maroon;
     color: white;
     padding: 20px;
     margin: 10px;
     width: 100px;
 }

 .flex-container6 {
     display: flex;
     background: lightgray;
 }

 .flex-container6 div {
     background: teal;
     color: white;
     padding: 20px;
     margin: 5px;
 }

 .item1 {
     order: 3;
 }

 .item2 {
     order: 1;
 }

 .item3 {
     order: 2;
 }

 .flex-container7 {
     display: flex;
     background: beige;
 }

 .flex-container7 div {
     padding: 20px;
     margin: 5px;
     background: steelblue;
     color: white;
 }

 .item1 {
     flex-grow: 7;
 }

 .item2 {
     flex-grow: 3;
 }

 .item3 {
     flex-grow: 1;
 }

 .flex-container8 {
     display: flex;
     background: lightpink;
 }

 .flex-container8 div {
     padding: 20px;
     margin: 5px;
     background: darkred;
     color: white;
 }

 .item5 {
     flex-shrink: 1111;
     width: 200px;
 }
 .item6 {
     flex-shrink: 1;
     width: 200px;
 }
 .item7 {
     flex-shrink: 1;
     width: 200px;
 }